@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  opacity: 0.03;
  pointer-events: none;
  z-index: 50;
}

body {
  font-family: "Inter", sans-serif;
}